:root {
    --header_height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: white;
    font-family: verdana;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: lavender;
    color: darkblue;
    font-size: 20px;
    border-bottom: 2px solid lightgrey;
    height: var(--header_height);
}

.header > h1 {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 2rem;
    font-family: sans-serif;
    text-transform: uppercase;
    cursor: default;
    color: rgb(9,9,121);
}

main {
    height: calc(100vh - var(--header_height));
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);  
}

.session-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(0.0, 0.0, 0.0, 0.4);
}

.session-div > * {
    margin: 10px;
}

.session-div > input {
    height: 50px;
    width: 230px;
    border-radius: 15px;
    border: 2px solid lightgrey;
    text-align: center;
}

.session-div > button {
    width: 230px;
    height: 50px;
    border-radius: 15px;
}

.session-div > input:focus {
    border: 2px solid lightgrey;
}

.error {
    color: red;
    font-weight: bold;
}